$secondary-text-color: #616070;
$min-card-padding: 16px;

$to-buy-area-standard-color: #00ACDC;
$to-buy-area-hover-color: #FFFFFF;

$to-buy-text-standard-color: #FFFFFF;
$to-buy-text-hover-color: #00ACDC;